* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98dvh;
}

.container {
    width: 500px;
    height: 500px;
    background-color: white;
    display: flex;

}

.divContainer {
    display: grid;
    flex: 1;
}

.partOfGrid {
    flex: 1;
    border: 1px;
}